@CHARSET "ISO-8859-1";

.ui-widget, .ui-widget .ui-widget {
	font-size: 90% !important;
}

/* Topo */
#topo {
	background-color: #d5d5d5;
}

#logo {
	text-align: center;
	margin: auto;
	padding: 10px;
}

.logo-painel {
	padding: 10px;
}

.info-painel {
	padding: 10px;
}

#info {
	padding: 10px;
}
/* Topo */

/* Rodapé */
#rodape {
	background-color: #d5d5d5;
}

#rodape-center {

	text-align: center;
	margin: auto;
	padding: 10px;
}
.rodape-center-painel{
	
}
/* Rodapé */


/* Funcionario */
#funcionario{
	text-align: center;
}

/* Funcionário */
